<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Oluzardo Assignment 1 WEB 322</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <header>

        <a href="/"><img id="logo" src="/img/logo.png"></a>

        <div class="navigation">

          <a href="/">Home</a>
          <a href="/roomListing">Rooms</a>
          <a href="/userRegistration">Register</a>
          <a href="/login">Log-In</a>
        
        </div>
      </div>
    </header>
    
    {{{body}}}
 
    <footer>
        <p>This website is merely an excercise and in no way a copy of the original site.
        </p>
        <div class="icons">
          <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
          <a href=""><i class="fab fa-twitter fa-2x"></i></a>
          <a href=""><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>