<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Oluzardo Assignment 4-6 WEB 322</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <header>
        <nav class="navigation"> 
          <a href="/"> Home </a>
          <a href="/rooms"> Rooms </a>
          {{#if user}}
              {{#if user.admin}}
              <a href="/user/adminDashboard"> Dashboard </a></a>
              <a href="/user/logout"> Log Out </a>
              {{else}}
              <a href="/user/nonAdminDashboard"> Dashboard </a></a>
              <a href="/user/logout"> Log Out </a>
              {{/if}}   
          {{else}}
          <a href="/user/registration"> Register </a>
          <a href="/user/loginPage"> Log in </a>
          {{/if}}
        </nav>
      </div>
    </header>
    
    {{{body}}}
 
    <footer>
        <div class="icons">
          <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
          <a href=""><i class="fab fa-twitter fa-2x"></i></a>
          <a href=""><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>