<div class="registrationPage">
    <div class="card" id="form" style="width: 30rem;">
        <div class="card-body">
            <div class="formReg text-center">
                <form method="POST" action="/rooms/adminRooms" enctype="multipart/form-data">
                    <div>
                        <input type="text" name="roomName"  placeholder="Enter room title">
                    </div>
                    <form>
                    <div>
                        <input type="number"   name="roomPrice" placeholder="Price">
                    </div>
                        <div>
                            <input type="text" name="roomDescription"  placeholder="Room description">
                        </div>
        
                    <div>
                        <select id="location" name="roomLocation">
                            <option value="null">Select a location</option>
                            <option value="Toronto">Toronto</option>
                            <option value="Ottawa">Ottawa</option>
                            <option value="Vancouver">Vancouver</option>
                            <option value="Montreal">Montreal</option>
                            <option value="Edmonton">Edmonton</option>
                        </select>
                    </div>
                    <input type="file" name="roomPicture"> 
                    
                    {{#each message}}
                        <div class="errors">{{this}}</div>
                    {{/each}}
                        <div>
                            <button type="submit">Submit</button>
                        </div>
                    </form>
        </div>
    </div>    