<div class="loginPage">

    <div class="whitebox">
        <div><br>Welcome to your dashboard {{user.firstName}} {{user.lastName}} <br></div>
        <div><br>You are logged in as an admin<br></div>
        <a href="/rooms/adminRooms"> Add a room </a>
        <br>
    </div>

</div>

