<div class="loginPage">

    <div class="whitebox">
        <div>Welcome to your dashboard {{user.firstName}} {{user.lastName}}</div>
        <div> You are logged in as an admin</div>
        <a href="/rooms/adminRooms"> Add a room </a>
    </div>

</div>

