<div id="promotion">
    <div>
        <p>Click here to sign up to our newsletter and receive 10% off your next stay*</p>
    </div>
</div>

<div class="test">
  <div class="card">
        <div class="card-body">
                <form  method="GET" action="/rooms">             
                        <h3>Book unique places to stay and things to do.</h3>
                    <label> Please select a location</label><br>
                    <div> 
                        <select id="location" name="location">
                          <option value="null"></option>
                          <option value="Vancouver">Vancouver</option>
                          <option value="Toronto">Toronto</option>
                          <option value="Edmonton">Edmonton</option>
                          <option value="Montreal">Montreal</option>
                          <option value="Ottawa">Ottawa</option>
                        </select>
                    </div><br>
                    <div>
                        <button type="submit" class="searchBtn">Search</button>
                    </div>
                </form>
        </div>
    </div>
  <div class="card">
        <div class="card-body">
            <h3> Airbnb now offers
            millions of hosts and travellers a free Airbnb account so they can list 
            their space and book unique accommodations anywhere in the world.
            </h3>
        </div>
  </div>
</div>

  