
<div id="promotion">
    <a href="/userRegistration">***Click here to sign up and receive 10% off your next stay!***</a>
</div>
<div id="searchContainer">
    <div id="searchRoom">

        <h3>Book unique places to stay and things to do.</h3>
        
        <div id="cities"> 
            <label>WHERE</label>
                <select id="bottomMargin" id="cityList">
                    <option value="Pick a Location">Pick a Location</option>
                    <option value="Toronto">Toronto</option>
                    <option value="Ottawa">Ottawa</option>
                    <option value="Vancouver">Vancouver</option>
                    <option value="Halifax">Halifax</option>
                    <option value="Montreal">Montreal</option>
                </select>
        </div>
        
        <div id="checkin">
            <label>CHECK-IN</label>
             <label>CHECKOUT</label>
        </div>
        <div id="checkout">
           <input type="date" name="checkIn">
           <input type="date"  name="checkOut">
        </div>

        <div id="numberofGuests">
            <label>GUESTS</label>
                <input type="number" placeholder="Enter number of Guests (Min 1, Max 15)" min="1" max="15" name="checkOut">
        </div>

        <div id="submitBtnContainer">
            <input type="submit" id="submitBtn" value="Search" name="submitBtn">
        </div>

    </div>

    <div id="infoContainer">
        <h3> Airbnb now offers
        millions of hosts and travellers a free Airbnb account so they can list 
        their space and book unique accommodations anywhere in the world.
        </h3>
    </div>
</div>