<div class="loginPage">
    <div class="whitegrid">
        <div class="formReg text-center">
            <form method="POST" action="/user/loginPage">
                <h4 class="loginHeader"> Please log in to book your next getaway</h4>
                {{#each message}}
                    <div class="errors">{{this}}</div>
                {{/each}}
                <div>
                    <input type="email" name="email"  placeholder="Enter Email">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Enter password">
                </div>
                <div>
                    <button type="submit" id="loginbtn">Login</button>
                </div>
                <div> <a href="/user/registration">Make a new account</a></div>
            </form>   
        </div>
    </div>
</div>


