<h2 id="headerRooms">Available Rooms</h2>

<div id="sixlistings">
    <div id="listingone">
        <div class="listingcontainer">
            <img src="/img/photo1.jpg">
            <h3>Downtown Toronto Condo</h3>
            <h4>$295/night</h4>
            <i class="fas fa-star">4.5</i>
        </div>
    </div>
    <div id="listingtwo">
        <div class="listingcontainer">
            <img src="/img/photo2.jpg">
            <h3>Modern Midtown House Montreal</h3>
            <h4>$109/night</h4>
            <i class="fas fa-star">4.2</i>
        </div>
    </div>
    <div id="listingthree">
        <div class="listingcontainer">
            <img src="/img/photo3.jpg">
            <h3>Cottage by Muskoka</h3>
            <h4>$179/night</h4>
            <i class="fas fa-star">4.9</i>
        </div>
    </div>
    <div id="listingfour">
        <div class="listingcontainer">
            <img src="/img/photo4.jpg">
            <h3>Ottawa River House</h3>
            <h4>$239/night</h4>
            <i class="fas fa-star">4.1</i>
        </div>
    </div>
    <div id="listingfive">
        <div class="listingcontainer">
            <img src="/img/photo5.jpg">
            <h3>Banff Mid-Century House</h3>
            <h4>$99/night</h4>
            <i class="fas fa-star">4.0</i>
        </div>
    </div>
    <div id="listingsix">
        <div class="listingcontainer">
            <img src="/img/photo6.jpg">
            <h3>Downtown Halifax Condo</h3>
            <h4>$300/night</h4>
            <i class="fas fa-star">4.6</i>
        </div>
    </div>
</div>